<header class="top">
  <button class="ibtn menu-btn" id="menuBtn" aria-label="Open contents" aria-controls="side"><svg class="i"><use href="#i-menu"/></svg></button>
  <a class="brand" href="#top"><img class="brand-logo" src="rm-logo.png" alt="RM" width="28" height="28"><span>Git &amp; GitHub Handbook</span></a>
  <span class="sp"></span>
  <a class="ibtn" href="https://crazy-rohit.github.io/rm-git-learning-portal/">Course home</a>
  <button class="ibtn" id="printBtn" type="button" title="Opens the print dialog. If nothing happens, open this page in its own tab and press Ctrl+P or Cmd+P, then choose Save as PDF."><svg class="i"><use href="#i-print"/></svg><span>Save as PDF</span></button>
  <button class="ibtn" id="themeBtn" type="button" aria-label="Switch theme"><svg class="i"><use href="#i-moon"/></svg></button>
  <div id="bar"></div>
</header>
